html {
  position: relative;
  min-height: 100%;
  /* change at end before publishing? width: 120vw; */
  
	@media (min-width:1050px)  {
		width: 100vw;
  }
  
  overflow: hidden;
}

body {
  margin: 0 0 0 0;
}
